.root{
	-fx-font-size:20px;
}

.dialog{
	-fx-background-color: rgb(250, 250, 250);
	-fx-background-radius: 20px;
	-fx-effect:dropshadow(gaussian, rgba(43, 0, 69, 0.15),25,0.1,0,0);
}

.mybutton{
	-fx-text-fill: white;
	-fx-font-weight: 700;
	-fx-background-radius: 10px;
	-fx-border-style: solid centered;
	-fx-border-color: black;
	-fx-border-width:2px;
	-fx-border-radius:10px;
	-fx-font-size:28px;
}

.mybutton:hover{
	-fx-cursor:hand;
}

#them_thanh_vien_btn{
	-fx-background-color: #B0A695;
}

#them_thanh_vien_btn:hover{
	-fx-background-color: white;
	-fx-text-fill: #B0A695;
}

#deletePerson{
	-fx-background-color: #EB3349;
	
}

#deletePerson:hover{
	-fx-text-fill:#EB3349;
	-fx-background-color: white;
}

#xem_btn{
	-fx-background-color: #5FBDFF;
	-fx-text-fill: white;
}

#xem_btn:hover{
	-fx-background-color: rgb(255, 255, 255);
	-fx-text-fill: #5FBDFF;
	-fx-cursor: hand;
}

#search_btn{
	-fx-background-color: rgb(93, 81, 219);
	-fx-background-radius: 50px;
	-fx-border-radius: 50px;
	-fx-text-fill: white;
}

#search_btn:hover{
	-fx-background-color: rgb(255, 255, 255);
	-fx-background-radius: 50px;
	-fx-text-fill:rgb(93, 81, 219);
	-fx-cursor: hand;
}

.close{
	-fx-border-width:0;
	-fx-text-fill: black;
	-fx-background-radius: 14px;
	-fx-font-weight: 200;
	-fx-background-color: rgb(194, 194, 194);
}
.close:hover{
	-fx-text-fill: white;
	-fx-font-weight:700;
	-fx-background-color: black;
	-fx-cursor:hand;
}

#tamTru{
	-fx-background-color: mediumseagreen;
	
}

#tamTru:hover{
	-fx-text-fill:mediumseagreen;
	-fx-background-color: white;
}

#saveTachHo{
	-fx-background-color: mediumseagreen;
}

#saveTachHo:hover{
	-fx-text-fill:mediumseagreen;
	-fx-background-color: white;
}

#addTachHo{
	-fx-background-color: gray;
}

#addTachHo:hover{
	-fx-text-fill:gray;
	-fx-background-color: white;
}

#loginNext{
	-fx-background-color: darkorchid;
}

#loginNext:hover{
	-fx-text-fill:darkorchid;
	-fx-background-color: white;
}

#login{
	-fx-background-color: darkorchid;
}

#login:hover{
	-fx-text-fill:darkorchid;
	-fx-background-color: white;
}

#loginResetOk{
	-fx-background-color: darkorchid;
}

#loginResetOk:hover{
	-fx-text-fill:darkorchid;
	-fx-background-color: white;
}


#button_logout{
	-fx-background-color: darkorchid;
	-fx-text-fill: white;
	-fx-font-weight: 700;
	-fx-background-radius: 10px;
	-fx-border-style: solid centered;
	-fx-border-color: black;
	-fx-border-width:2px;
	-fx-border-radius:10px;
	-fx-font-size:20px;
}

#button_logout:hover{
	-fx-background-color: white;
	-fx-text-fill:darkorchid;
	-fx-cursor:hand;
}

#addFee{
	-fx-background-color: mediumseagreen;
}

#addFee:hover{
	-fx-text-fill:mediumseagreen;
	-fx-background-color: white;
}

#feeCollect{
	-fx-background-color: mediumseagreen;
}

#feeCollect:hover{
	-fx-text-fill:mediumseagreen;
	-fx-background-color: white;
}

#submit_btn{
	-fx-background-color: #403B4A;
}

#submit_btn:hover{
	-fx-text-fill:#403B4A;
	-fx-background-color: white;
}

#submit_btn1{
	-fx-background-color: #4776E6;
}

#submit_btn1:hover{
	-fx-text-fill:#4776E6;
	-fx-background-color: white;
}

#minus_btn{
	-fx-background-color: #EB3349;
	-fx-background-radius: 50px;
	-fx-border-radius: 50px;
	-fx-text-fill: white;
}

#minus_btn:hover{
	-fx-background-color: white;
	-fx-text-fill: #EB3349;
}

#addFeeType{
	-fx-background-color: mediumseagreen;
}

#addFeeType:hover{
	-fx-text-fill:mediumseagreen;
	-fx-background-color: white;
}

#addHousehold{
	-fx-background-color: mediumseagreen;
}

#addHousehold:hover{
	-fx-text-fill:mediumseagreen;
	-fx-background-color: white;
}

#savePerson{
	-fx-background-color: mediumseagreen;
}

#savePerson:hover{
	-fx-text-fill:mediumseagreen;
	-fx-background-color: white;
}

#addPerson{
	-fx-background-color: mediumseagreen;
}

#addPerson:hover{
	-fx-text-fill:mediumseagreen;
	-fx-background-color: white;
}

#feeStats{
	-fx-background-color: #7BD3EA;
}

#feeStats:hover{
	-fx-text-fill:palevioletred;
	-fx-background-color: white;
}

#householdStats{
	-fx-background-color: palevioletred;
}

#householdStats:hover{
	-fx-text-fill:palevioletred;
	-fx-background-color: white;
}

#saveFeeType{
	-fx-background-color: mediumseagreen;
}

#saveFeeType:hover{
	-fx-text-fill:mediumseagreen;
	-fx-background-color: white;
}

#editFeeType{
	-fx-background-color: sandybrown;
}

#editFeeType:hover{
	-fx-text-fill:sandybrown;
	-fx-background-color: white;
}

#editPerson{
	-fx-background-color: sandybrown;
}

#editPerson:hover{
	-fx-text-fill:sandybrown;
	-fx-background-color: white;
}

#editHousehold{
	-fx-background-color: sandybrown;
}

#editHousehold:hover{
	-fx-text-fill:sandybrown;
	-fx-background-color: white;
}

#split{
	-fx-background-color: F4BF96;
}
#split:hover{
	-fx-text-fill:F4BF96;
	-fx-background-color: white;
}

#moveTemp{
	-fx-background-color: #CE5A67;
}
#moveTemp:hover{
	-fx-text-fill: #CE5A67;
	-fx-background-color: white;
}

#moveTemp1{
	-fx-background-color: #8ACDD7;
}
#moveTemp1:hover{
	-fx-text-fill: #8ACDD7;
	-fx-background-color: white;
}

#saveHousehold{
	-fx-background-color: mediumseagreen;
}

#saveHousehold:hover{
	-fx-text-fill:mediumseagreen;
	-fx-background-color: white;
}

#forget{
	-fx-font-size:18px;
	-fx-text-fill: darkorchid;
	-fx-font-weight: 500;
}

#forget:hover{
	-fx-font-weight: 700;
	-fx-cursor:hand;
}

.tableAtrb .column-header-background .label{
	-fx-font-weight: 700;
	-fx-font-size:20px;
}
.tableAtrb .column-header-background{
	-fx-background-color:linen;
}

#feeTable{
	-fx-background-radius: 0px 0px 10px 10px;
}

.functionInsideTitle{
	-fx-font-size: 30px;
	-fx-text-alignment:left;
	-fx-background-radius: 12px;
	-fx-font-weight: 300;
	-fx-font-color: #D7DDE8;
}
.functionInsideTitle:hover{
	-fx-background-color: orange;
	-fx-font-size: 35px;
	-fx-cursor:hand;
}

.functionDetailInfo{
	-fx-font-size: 24px;
	-fx-text-alignment:center-left;
	-fx-font-weight: 500;
}

.functionDetailTitle{
	-fx-font-size: 24px;
	-fx-font-weight: 500;
}

.choice{}

.choice:hover{
	-fx-cursor:hand;
	-fx-effect:dropshadow(gaussian, rgba(254, 255, 151, 1),50,0.3,0,0);
}
#button_home{}
#button_home:hover{
	-fx-cursor: hand;
}
.functionTitle{
	-fx-font-size:28px;
	-fx-font-weight: 700;
	-fx-text-fill: darkorchid;
}

#chucnang{
	-fx-font-size: 68px;
	-fx-font-weight: 700;
	-fx-text-fill:rgb(50, 0, 66);
	-fx-effect:dropshadow(gaussian, rgba(0, 0, 0, 0.3),3,0.1,2,2);
	
}